@charset "UTF-8";
@use "sass:math";
@use '../../foundation/mixin';


.c-input {
    &__search {
        width: 230px;
        height: 46px;
        left: 24px;
        border: 1px solid;
        border-color: #707070;
        border-radius: 10px;
        background-color: #fff;
        padding: 3px 0 3px 2em; //検索アイコン用の余白
        @include mixin.media-queries(more-md) {
            width: 395px;
        }
    }
}