@charset "UTF-8";
@use '../foundation/mixin';

.p-image-burger {
    min-height: 124px;
    margin: 30px 20px 0px 20px;
    @include mixin.media-queries(more-md) {
        margin: 60px 60px 0px 60px;
        min-height: 264px;
    }
    @include mixin.media-queries(more-lg) {
        margin: 60px 100px 0px 100px;
        min-height: 500px; 
    }
    &__under {
        text-align: center;
        margin: 30px 55px 0px 55px;
        @include mixin.media-queries(more-md) {
            margin: 60px 127px 220px 127px;
        }
        @include mixin.media-queries(more-lg) {
            margin: 60px 127px 0px 127px;
        }
        &__image {
            //height: auto;
            //min-height: 166px;
            //width: 100%;
            height: auto;
            width: 100%;
            object-fit: cover;
            @include mixin.media-queries(more-md) {
                max-height: 358px;
                max-width: 581px;
            }
        }
    }
    &__image {
        height: auto;
        min-height: 124px;
        width: 100%;
        object-fit: cover;
        @include mixin.media-queries(more-md) {
            min-height: 264px;
        }
        @include mixin.media-queries(more-lg) {
            min-height: 500px;
        }
    }
}